#contentPane {
	margin-top: 40px;
	margin-left: 16.67%;
}
#trionaBody .container {
	margin-left: 0;
	padding-left: 0;
}
.w90 { width: 90px; }

.sidebar { position: fixed; }
#triona #hiUser { color: white; font-weight: bold; }

#detailEmployee table tr { vertical-align: top; }
#detailEmployee table img { padding-right: 10px; }

#frmEmployee .marginTop10 { margin-top: 10px; }
#divTeam #tblTeam th a.sort		{ float: right; }
#divTeam #tblTeam a.detail		{ display: inline-block; width: 100%; padding-left: 10px; }
#divTeam #tblTeam .imgEmployee	{ width: 90px; margin-bottom: 8px; }
.trionaList table { clear: both; }
.trionaList { margin: 10px; }
.trionaList .search, .trionaList .addEmp { display: inline; }
.trionaList .search { float: left; }
.trionaList .addEmp { float: right; }
.trionaList .addEmp a { margin-bottom: 10px; }

#frmEmployee input[type=text],
#frmEmployee input[type=email] { width: 100%; }
#frmEmployee textarea#text { width: 100%; height: 150px; }

#calendar table { width: 99%; }
#calendar table td, #calendar table th { padding: 5px;  }
#calendar table td, #calendar table th { text-align: right; }
#calendar table td.today { background: #fcf8e3; }
#calendar table .red { color: red; font-weight: bold; }
#calendar table .outOfMth { color: #dddddd; }
#calendar h3 { text-align: center; }
#tblExistingHolidays .w20 { width: 20px; }

#listHolidays, #divExistingHolidays { margin-left: 0; }

#timesheet .panel-body .content { height: 40px; }
#timesheet .panel .left { font-weight: bold; display: inline-block; width: 150px; }
#timesheet .bestMonth, #timesheet .worstMonth { float: right; }
#timesheet #editTimesheet { float: right; }

#tblTimesheetHead { margin-bottom: 0; }
#tblTimesheetHead td { border: 0; }
#tblTimesheet thead th.total, #tblTimesheet thead th.diff { min-width: 65px; }
#tblTimesheet tbody td.date { width: 80px; }
#tblTimesheet tbody td.date input { width: 80px; }
#tblTimesheet tbody td.right { text-align: right; }
#tblTimesheet tbody td span.text-bold { font-weight: bold; }
#tblTimesheet tfoot { font-weight: bold; }
#tblTimesheet tbody td.weekend { font-weight: bold; color: red; }
#tblTimesheet tbody tr.weekend { background: #f5f5f5; }
#tblTimesheet tbody td b.specialDay { color: #ddd; }

#frmHoliday #toggleHolidayList { padding-left: 5px; }

#divFixedDates .firstName { display: inline-block; width: 80px; }
#divFixedDates .firstName.bold { font-weight: bold; background: white; color: black; }
#divFixedDates .firstName { background: #E9E9E9; color: #909090; height: 28px;}
#divFixedDates table tbody td { padding: 1px 3px; }
#divFixedDates table tbody td.img { background: #E9E9E9; }
#divFixedDates table .imgEmployee { height: 30px; }
#divFixedDates table th.date { width: 80px; font-weight: normal; }
#divFixedDates table .centered { text-align: center; }
