<!DOCTYPE html>
<html ng-app="TrionaModule">
	<head>
		<title>Edit employee</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="js/employeesController.js"></script>
		<script type="text/javascript" src="js/fileupload.js"></script>

		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="css/fileupload.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			#frmEmployee #txtText { width: 100%; height: 150px; }
		</style>
	</head>
	<body ng-controller="EmployeesController as ec">
		<form id="frmEmployee" class="form-horizontal container" role="form" action="PutServlet">
			<input type="hidden" name="sqlType" value="INSERT"/>
			<input type="hidden" name="type" value="employees"/>
			<h1>Edit / Create employee</h1>
			<div class="row">
				<div class="col-md-2">
					<h4>Image</h4>
				</div>
				<div class="col-md-3">
					<div id="upload_area">
						Please drag and drop<br/>
						your image file here<br/>
						<input id="image_file" name="image_file" type="file" class="btn btn-default" onchange="fileSelected();" />
						<img id="preview" src="" alt=""/>
						<div>
							<input type="button" class="btn btn-primary" value="Upload" onclick="startUploading()" />
						</div>
						<div id="fileinfo">
							<div id="filename"></div>
							<div id="filesize"></div>
							<div id="filedim"></div>
						</div>
						<div id="error">You should select valid image files only!</div>
						<div id="error2">An error occurred while uploading the file</div>
						<div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
						<div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>
					</div>
				</div>

				<div class="col-md-2">
					<h4>Text*</h4>
				</div>
				<div class="col-md-3">
					<textarea id="text" name="text" type="textarea" ng-model="ec.newEmployee.text" required></textarea>
				</div>

			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>First name*</h4>
				</div>
				<div class="col-md-3">
					<input id="firstName" name="firstName" type="text" ng-model="ec.newEmployee.firstName" required/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>Last name*</h4>
				</div>
				<div class="col-md-3">
					<input id="lastName" name="lastName" type="text" ng-model="ec.newEmployee.lastName" required/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>Email*</h4>
				</div>
				<div class="col-md-3">
					<input id="email" name="email" type="email" ng-model="ec.newEmployee.email" required/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>Job Title*</h4>
				</div>
				<div class="col-md-3">
					<select id="jobtitle" name="jobtitle">
						<option ng-repeat="title in ec.jobTitles" nd-model="ec.newEmployee.jobTitle" ng-value="title.id">{{title.name}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>City</h4>
				</div>
				<div class="col-md-3">
					<input id="city" name="city" type="text" ng-model="ec.newEmployee.city" required/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>Project*</h4>
				</div>
				<div class="col-md-3">
					<select id="projectId" name="projectId">
						<option ng-repeat="proj in ec.projects| orderBy: pc.orderBy" ng-value="proj.id">{{proj.projectName}}</option>
					</select>
				</div>
			</div>

			<div class="row">
			</div>

			<div class="row">
				<div class="col-md-2">&nbsp;</div>
				<div class="col-md-3">
					<div class="control-group" ng-class="{error: myForm.site.$invalid}">
						<label>&nbsp;</label>
						<a class="btn btn-warning" ng-href="list.html">Cancel</a>
						<button type="submit" class="btn btn-success">Save</button>
						<button type="submit" class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
