<script type="text/javascript" src="js/fileupload.js"></script>

<div ng-controller="EmployeesController as ec">
	<form id="frmEmployee" name="frmEmployee" class="form-horizontal container" role="form" action="PutServlet">
		<input type="hidden" name="sqlType" value="INSERT"/>
		<input type="hidden" name="type" value="employees"/>
		<h1 class="page-header">Edit / Create employee</h1>
		<div class="row">
			<div class="col-md-2">
				<h4>Image</h4>
			</div>
			<div class="col-md-3">
				<div id="upload_area">
					<!-- http://www.quirksmode.org/dom/inputfile.html -->
					<div class="fileinputs">
						<input id="image_file" name="image_file" type="file" class="btn btn-default h100"
							   ng-model="ec.newEmployee.image" onchange="fileSelected();" />
						<div class="fakefile">
							<input type="button" class="btn btn-default h100" value="Drop your image here"/>
						</div>
					</div>

					<img id="preview" src="" alt=""/>
					<input id="btnUpload" type="button" class="btn btn-primary" value="Upload" onclick="startUploading()" />

					<div id="fileinfo">
						<div id="filename"></div>
						<!--<div id="filesize"></div>-->
						<!--<div id="filedim"></div>-->
					</div>
					<div id="error">You should select valid image files only!</div>
					<div id="error2">An error occurred while uploading the file</div>
					<div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
					<div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>
				</div>
			</div>

			<div class="col-md-2">
				<h4>Text*</h4>
			</div>
			<div class="col-md-4">
				<textarea id="text" name="text" type="textarea" ng-model="ec.newEmployee.text" required></textarea>
			</div>

		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>First name*</h4>
			</div>
			<div class="col-md-3">
				<input id="firstName" name="firstName" type="text" ng-model="ec.newEmployee.firstName" required/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Last name*</h4>
			</div>
			<div class="col-md-3">
				<input id="lastName" name="lastName" type="text" ng-model="ec.newEmployee.lastName" required/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Email*</h4>
			</div>
			<div class="col-md-3">
				<input id="email" name="email" type="email" ng-model="ec.newEmployee.email" required/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Job Title*</h4>
			</div>
			<div class="col-md-3">
				<select id="jobtitle" name="jobtitle">
					<option ng-repeat="title in ec.jobTitles" nd-model="ec.newEmployee.jobTitle" ng-value="title.jobTitle">
						{{title.name}}
					</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>City</h4>
			</div>
			<div class="col-md-3">
				<input id="city" name="city" type="text" ng-model="ec.newEmployee.city" required/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Project*</h4>
			</div>
			<div class="col-md-3">
				<select id="projectId" name="projectId" ng-init="ec.loadProjects()" ng-model="ec.newEmployee.projectId">
					<option ng-repeat="proj in ec.projects| orderBy: pc.orderBy" ng-value="proj.id">{{proj.projectName}}</option>
				</select>
			</div>
		</div>

		<div class="row">
		</div>

		<div class="row">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-3">
				<div class="control-group">
					<label>&nbsp;</label>
					<a class="btn btn-danger" ng-href="#team">Cancel</a>
					<button type="submit" class="btn btn-success" ng-submit="ec.addEmployee" ng-disabled="frmEmployee.$invalid">Save</button>
					<button type="button" class="btn btn-danger" ng-show="ec.isEditMode">Delete</button>
				</div>
			</div>
		</div>
	</form>

	<h2>Preview</h2>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>&nbsp;</th>
				<th>City</th>
				<th>Project</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img ng-src="images/{{ec.newEmployee.image}}" alt="{{ec.newEmployee.firstName}}" width="90"/></td>
				<td>{{ec.newEmployee.firstName}}</td>
				<td>{{ec.newEmployee.lastName}}</td>
				<td>{{ec.newEmployee.city}}</td>
				<td>{{ec.newEmployee.projectName}}, {{ec.newEmployee.projectCity}}</td>
				<td>{{ec.newEmployee.text}}</td>
			</tr>
		</tbody>
	</table>
</div>
