<div id="divAddDate" ng-controller="FixedDateCtrl as fc">
	<h1 class="page-header">Add date</h1>

	<form id="frmFixedDate">
		<ul class="nav nav-tabs">
			<li id="liGeneral"   role="presentation" class="active">
				<a ng-click="showGeneralTab()">General</a>
			</li>
			<li id="liProposals" role="presentation">
				<a ng-click="showProposalTab()">Time proposals</a>
			</li>
		</ul>

		<div id="divGeneralWrapper">
			<div class="row">
				<div class="col-md-2">
					<h4>Title*</h4>
				</div>
				<div class="col-md-3">
					<input type="text" name="txtTitle" ng-model="ec.newEmployee.text" required/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<h4>Location</h4>
				</div>
				<div class="col-md-3">
					<input type="text" name="txtLocation" ng-model="ec.newEmployee.location"/>
				</div>
			</div>


			<div class="row">
				<div class="col-md-2">
					<h4>Description*</h4>
				</div>
				<div class="col-md-3">
					<textarea name="txtDescription" ng-model="ec.newEmployee.description" required></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-3">
					<br/>
					<button type="button" class="btn btn-default" onclick="window.location.href = '#home'">Cancel</button>
					<button type="button" class="btn btn-success" ng-click="fc.showProposalTab()">Next</button>
				</div>
			</div>
		</div><!-- divGeneralWrapper -->

		<div id="divProposalWrapper">
			Proposals
		</div>
	</form>

</div>
