<div ng-controller="TimesheetCtrl">
	<form id="frmTimesheet" name="frmTimesheet" class="form-horizontal container" role="form"
		  action="PutServlet" novalidate ng-init="init()">
		<input type="hidden" name="type" value="timesheet"/>
		<input type="hidden" name="employeeId" value="{{me.id}}"/>
		<input type="hidden" name="projectId" value="{{me.projectId}}"/>
		<h1 class="page-header" ng-show="isEditMode === false">Create timesheet</h1>
		<h1 class="page-header" ng-show="isEditMode === true">Edit timesheet</h1>

		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<table id="tblTimesheetHead" class="table">
							<tr>
								<td><b>Name</b></td><td>{{me.fullName}}</td>
							</tr>
							<tr>
								<td><b>Client</b></td><td>{{me.projectClient}}</td>
							</tr>
							<tr>
								<td><b>Month</b></td><td>{{timesheetCurrentMonthName}} {{year}}</td>
							</tr>
						</table>
					</div>
					<div class="panel-body">
						<table id="tblTimesheet" class="table">
							<thead>
								<tr>
									<th>Day</th>
									<th>Start</th>
									<th>End</th>
									<th>Pause</th>
									<th>Total</th>
									<th>Diff</th>
									<th>Subject</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="t in timesheetCurrentMonth" ng-class="t.jsDateClass">
									<td ng-class="t.jsDateClass">{{t.jsDate| date:'EEE, d'}}</td>
									<td class="date">
										<input type="text" name="from" value="{{t.jsFrom| date:'HH:mm'}}" placeholder="hh:mm" ng-if="t.isWorkingDay"/>
									</td>
									<td class="date">
										<input type="text" name="to" value="{{t.jsTo| date:'HH:mm'}}" placeholder="hh:mm" ng-if="t.isWorkingDay"/>
									</td>
									<td class="date">
										<input type="text" name="pause" value="{{t.jsPause| date:'HH:mm'}}" placeholder="hh:mm" ng-if="t.isWorkingDay"/>
									</td>
									<td>
										{{t.jsDuration| date:'HH:mm'}}
										<input type="hidden" name="duration" value="t.jsDuration"/>
									</td>
									<td>
										{{t.jsDiff| date:'HH:mm'}}
										<input type="hidden" name="diff" value="t.jsDiff"/>
									</td>
									<td>
										<input type="text" name="comment" value="{{t.comment}}" ng-if="t.isWorkingDay"/>
										<b class="specialDay" ng-if="!t.isWorkingDay" ng-bind="t.comment"/>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>{{timesheetSumDays}} days</td> <td></td> <td></td> <td></td>
									<td>{{timesheetSumHours}}</td> <td>{{timesheetSumDiff}}</td> <td></td>
								</tr>
							</tfoot>
						</table>
					</div><!-- panelBody -->
					<div class="panel-heading">
						<div class="control-group text-right">
							<label>&nbsp;</label>
							<a class="btn btn-danger" ng-href="#timesheets">Cancel</a>
							<button type="button" class="btn btn-success" ng-click="save"
									ng-disabled="frmTimesheet.$invalid">Save</button>
							<button type="button" class="btn btn-danger" ng-show="ec.isEditMode">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
