<!DOCTYPE html>
<html>
	<head>
		<title>Dir Compare</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/dirCompareController.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="dirCompare" class="container" ng-app="DirCompareApp" ng-controller="DirCompareController">
			<h1>DIR compare</h1>
			<div class="dir col-sm-4" ng-repeat="dir in dirs">
				<table id="tbl1" class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in dir">
							<td>{{file.name}}</td>
							<td>{{file.length| number}}</td>
							<td>{{file.lastModified}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
