<div id="divFixedDates" ng-controller="FixedDateCtrl as fc" class="trionaList">
	<h1 class="page-header">{{fixedDate.title}}</h1>
	<div id="fixedDates" class="row">
		<div class="col-md-12">
			<table>
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th class="date btn-primary centered"><span>{{fixedDate.suggestedDate1}}</span></th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate2 != null">{{fixedDate.suggestedDate2}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate3 != null">{{fixedDate.suggestedDate3}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate4 != null">{{fixedDate.suggestedDate4}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate5 != null">{{fixedDate.suggestedDate5}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate6 != null">{{fixedDate.suggestedDate6}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees">
						<td class="centered img">
							<img ng-src="images/{{emp.image}}" alt="{{emp.firstName}}" title="{{emp.fullName}}" class="imgEmployee"/>
						</td>
						<td class="centered">
							<span class="firstName {{emp.id == me.id ? 'bold':''}}">{{emp.firstName}}</span>
						</td>
						<td class="centered">
							<input id="chkSuggestedDate1" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td class="centered" ng-if="fixedDate.suggestedDate2 != null">
							<input id="chkSuggestedDate2" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td class="centered" ng-if="fixedDate.suggestedDate3 != null">
							<input id="chkSuggestedDate3" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td class="centered" ng-if="fixedDate.suggestedDate4 != null">
							<input id="chkSuggestedDate4" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td class="centered" ng-if="fixedDate.suggestedDate5 != null">
							<input id="chkSuggestedDate5" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td class="centered" ng-if="fixedDate.suggestedDate6 != null">
							<input id="chkSuggestedDate6" type="checkbox" ng-disabled="emp.id != me.id"/>
						</td>
						<td>
							<input class="btn btn-sm" id="rejectAll" type="submit" value="Cannot make it" 
								   disabled="disabled" ng-if="emp.id == me.id">
						</td>
						<td>
							<input class="btn btn-primary btn-sm" id="save" type="submit" value="Save"
								   ng-if="emp.id == me.id">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
