<div id="divFixedDates" ng-controller="FixedDateCtrl as fc" class="trionaList">
	<h1 class="page-header">{{fixedDate.title}}</h1>
	<div id="fixedDates" class="row">
		<form id="frmFixedDates" class="col-md-12">
			<table id="tblFixedDates">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th class="date btn-primary centered"><span>{{fixedDate.suggestedDate1}}</span></th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate2 != null">{{fixedDate.suggestedDate2}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate3 != null">{{fixedDate.suggestedDate3}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate4 != null">{{fixedDate.suggestedDate4}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate5 != null">{{fixedDate.suggestedDate5}}</th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate6 != null">{{fixedDate.suggestedDate6}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees">
						<td class="centered img">
							<img ng-src="images/{{emp.image}}" alt="{{emp.firstName}}" title="{{emp.fullName}}" class="imgEmployee"/>
						</td>
						<td class="centered">
							<span class="firstName {{emp.id == me.id ? 'bold':''}}">{{emp.firstName}}</span>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 1)}}">
							<span class="centered {{isCheckedCssIcon(emp.id, 1)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate1" name="chkSuggestedDate1" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 1)"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 2)}}" ng-if="fixedDate.suggestedDate2 != null">
							<span class="centered {{isCheckedCssIcon(emp.id, 2)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate2" name="chkSuggestedDate2" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 2)"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 3)}}" ng-if="fixedDate.suggestedDate3 != null">
							<span class="centered {{isCheckedCssIcon(emp.id, 3)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate3" name="chkSuggestedDate3" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 3)"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 4)}}" ng-if="fixedDate.suggestedDate4 != null">
							<span class="centered {{isCheckedCssIcon(emp.id, 4)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate4" name="chkSuggestedDate4" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 4)"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 5)}}" ng-if="fixedDate.suggestedDate5 != null">
							<span class="centered {{isCheckedCssIcon(emp.id, 5)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate5" name="chkSuggestedDate5" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 5)"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp.id, 6)}}" ng-if="fixedDate.suggestedDate6 != null">
							<span class="centered {{isCheckedCssIcon(emp.id, 6)}}" ng-if="emp.id != me.id"> </span>
							<input id="chkSuggestedDate6" name="chkSuggestedDate6" type="checkbox"
								   ng-if="emp.id == me.id" ng-checked="isChecked(emp.id, 6)"/>
						</td>
						<td>
							<input class="btn btn-sm" id="rejectAll" type="submit" value="Cannot make it" 
								   disabled="disabled" ng-if="emp.id == me.id">
						</td>
						<td>
							<input class="btn btn-primary btn-sm" id="save" type="submit" value="Save"
								   ng-if="emp.id == me.id">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
