<div id="divFixedDates" ng-controller="FixedDateCtrl as fc" class="trionaList">
	<h1 class="page-header">{{fixedDate.title}}</h1>
	
	<div id="fixedDates" class="row">
		<form id="frmFixedDates" class="col-md-12">
			<table id="tblFixedDates">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th class="date btn-primary centered"><span>{{fixedDate.suggestedDate1}}</span></th>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate2 != null" ng-bind="fixedDate.suggestedDate2"/>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate3 != null" ng-bind="fixedDate.suggestedDate3"/>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate4 != null" ng-bind="fixedDate.suggestedDate4"/>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate5 != null" ng-bind="fixedDate.suggestedDate5"/>
						<th class="date btn-primary centered" ng-if="fixedDate.suggestedDate6 != null" ng-bind="fixedDate.suggestedDate6"/>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees">
						<td class="img">
							<img ng-src="images/{{emp.image}}" alt="{{emp.firstName}}" title="{{emp.fullName}}" class="imgEmployee"/>
						</td>
						<td class="centered">
							<span class="firstName {{emp.id == me.id ? 'bold':''}}">{{emp.firstName}}</span>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 1)}}" title="{{title(emp.id, 1)}}">
							<span class="centered {{isCheckedCssIcon(emp, 1)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed1" type="checkbox" ng-model="emp.agreed[0]" ng-if="emp.id==me.id"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 2)}}" ng-if="fixedDate.suggestedDate2 != null"
							title="{{title(emp.id, 2)}}">
							<span class="centered {{isCheckedCssIcon(emp, 2)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed2" type="checkbox" ng-model="emp.agreed[1]" ng-if="emp.id==me.id"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 3)}}" ng-if="fixedDate.suggestedDate3 != null"
							title="{{title(emp.id, 3)}}">
							<span class="centered {{isCheckedCssIcon(emp, 3)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed3" type="checkbox" ng-model="emp.agreed[2]" ng-if="emp.id==me.id"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 4)}}" ng-if="fixedDate.suggestedDate4 != null"
							title="{{title(emp.id, 4)}}">
							<span class="centered {{isCheckedCssIcon(emp, 4)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed4" type="checkbox" ng-model="emp.agreed[3]" ng-if="emp.id==me.id"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 5)}}" ng-if="fixedDate.suggestedDate5 != null"
							title="{{title(emp.id, 5)}}">
							<span class="centered {{isCheckedCssIcon(emp, 5)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed5" type="checkbox" ng-model="emp.agreed[4]" ng-if="emp.id==me.id"/>
						</td>
						<td class="centered {{isCheckedCssTr(emp, 6)}}" ng-if="fixedDate.suggestedDate6 != null"
							title="{{title(emp.id, 6)}}">
							<span class="centered {{isCheckedCssIcon(emp, 6)}}" ng-if="emp.id != me.id"> </span>
							<input name="chkAgreed6" type="checkbox" ng-model="emp.agreed[5]" ng-if="emp.id==me.id"/>
						</td>
						<td>
							<input class="btn btn-sm" id="rejectAll" type="button" value="Cannot make it"
								   ng-if="emp.id == me.id" ng-click="cannotMakeIt()">
						</td>
						<td>
							<input class="btn btn-primary btn-sm" id="save" type="button" value="Save"
								   ng-if="emp.id == me.id" ng-click="save()">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<div id="fixedDatesOverview" class="row">
		<br/>
		<h2 class="page-header">Select another fixed date</h2>
		<div class="col-md-3" ng-repeat="f in fixedDates">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{f.title}}
						&nbsp;<span class="glyphicon glyphicon-question-sign" title="{{f.description}}"></span>
						<img ng-src="images/{{f.image}}" alt="{{f.fullName}}" title="{{f.fullName}}" class="imgEmployee"/>
					</h3>
				</div>
				<div class="panel-body">
					{{f.suggestedDate1}}<br>...
					<a href="#/fixedDates?idx={{f.id}}">
						<button type="button" class="btn btn-success pull-right" title="Choose this event">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
					</a>
					<button type="button" ng-click="deleteFixedDate(f.id)" class="btn btn-danger pull-right"
							title="Delete this event">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
