		<div id="divProjects" ng-controller="ProjectsController as pc" class="trionaList">
			<h1 class="page-header">Projects</h1>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Kunde</th>
						<th>Projektname</th>
						<th>Stadt</th>
						<th>Mitarbeiter</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proj in pc.projects| orderBy: pc.orderBy">
						<td class="w90"><img ng-src="images/{{proj.icon}}" alt="{{proj.image}}" width="90"/></td>
						<td>{{proj.client}}</td>
						<td>{{proj.projectName}}</td>
						<td>{{proj.city}}</td>
						<td>
							<a ng-repeat="empName in proj.empNames" ng-href="#employee?id={{proj.empIds[$index]}}">{{empName}}<br/></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
