<script type="text/javascript" src="js/employeesController.js"></script>

<div id="listEmployees" ng-controller="EmployeesController as ec" class="trionaList">
	<h1 class="page-header">The team</h1>
	<div id="actions">
		<div class="search">
			<input type="text" class="in" ng-model="ec.searchTerm" placeholder="Name of the employee"/>
			<span class="glyphicon glyphicon-search" ng-click="ec.search(ec.searchTerm)"></span>
		</div>
		<div class="addEmp">
			<a href="#addEmployee" class="btn-primary btn btn-success" ng-show="ec.emp.roleName == 'admin'">
				<span class="glyphicon glyphicon-plus">&nbsp;</span>Add employee
			</a>
		</div>
	</div>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>&nbsp;</th>
				<th>City</th>
				<th>Project</th>
				<th>&nbsp;</th>
				<th ng-show="ec.emp.roleName == 'admin'">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="emp in ec.employees| orderBy: ec.orderBy | filter: ec.searchTerm">
				<td><img ng-src="images/{{emp.image}}" alt="{{emp.firstName}}" width="90"/></td>
				<td>{{emp.firstName}}</td>
				<td>{{emp.lastName}}</td>
				<td>{{emp.city}}</td>
				<td>{{emp.projectName}}, {{emp.projectCity}}</td>
				<td>{{emp.text}}</td>
				<td ng-show="ec.emp.roleName == 'admin'">
					<span class="glyphicon glyphicon-pencil" title="Edit"></span>
					<span class="glyphicon glyphicon-remove" title="Delete"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>