<!DOCTYPE html>
<html ng-app="TrionaModule">
	<head>
		<title>Test Triona Project</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/employeesController.js"></script>
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="css/triona.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="listEmployees" ng-controller="EmployeesController as ec" class="trionaList">
			<h1 class="page-header">The team</h1>
			<div id="actions">
				<div class="search">
					<input type="text" class="in" ng-model="ec.searchTerm" placeholder="Name of the employee"/>
					<span class="glyphicon glyphicon-search" ng-click="ec.search(ec.searchTerm)"></span>
				</div>
				<div class="addEmp">
					<a href="addEmployee.html" class="btn-primary btn btn-success">
						<span class="glyphicon glyphicon-plus">&nbsp;</span>Add employee
					</a>
				</div>
			</div>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th>&nbsp;</th>
						<th>City</th>
						<th>Project</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in ec.employees| orderBy: ec.orderBy | filter: ec.searchTerm">
						<td><img ng-src="images/{{emp.image}}" alt="{{emp.firstName}}" width="90"/></td>
						<td>{{emp.firstName}}</td>
						<td>{{emp.lastName}}</td>
						<td>{{emp.city}}</td>
						<td>{{emp.projectName}}, {{emp.projectCity}}</td>
						<td>{{emp.text}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>
